.footer {
    background-image: url("/src/logo.svg");
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-position: right;
    background-size: contain;
    background-attachment: fixed;
    background-color: var(--bs-dark);
}

.big-font-react {
    font-size: 3.5rem;
    font-weight: bolder;
    color: var(--react-color);
}

.big-font-react~p {
    padding: 1rem 0.5rem;
    color: var(--bs-light);
    font-size: 2rem;
    font-weight: 250;
}

.footer ul li {
    padding: .25rem 0;
}

.footer ul li a {
    color: var(--bs-light);
}

.footer ul li a:hover {
    color: var(--react-colors) !important;
}